.nav-link {
  display: flex;
  min-height: 4rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all 0.3s linear;
  &:hover {
  }
}

.active {
  color: #000;
  background-color: #ffd700;
}
